

*{
    margin: 0;
    font-family: Century Gothic;
}
img {
    top: 100px;
    width: 100px;

}
head {
    width: 500px;
    background-color: #CB0101;
}

h1 {
    background-color: #CB0101;
    font-size: 100px;
    font-family: 'Comic Sans MS';
    margin-bottom: 20px;
    text-align: center
}
body {
    background-color:#92C47D;
}


.mainH {
    height: 800px;
    text-align: center;
    margin-top: 80px;
}

.mainL {
    height: 800px;
    text-align: center;
    margin-top: 20px;
}


.mainS {
    height: 800px;
    text-align: center;
    margin-top: 20px;
}

.mainR {
   
    margin-top: 20px;
}

.mainT {
    height: 800px;
    text-align: center;
    margin-top: 20px;
}

.Liverpool {
    height: 800px;
    margin-top: 100px;
    background-color: aliceblue;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
}

.radio {
    font-size: 40px;
    padding: 10px;
    margin right: 10px;
}

.checkbox {
    font-size: 20x;
    float: left;
    
}

option {
    padding-right: 100px;
}


#League {
    width: 40%;
    height: 10%;
    font-size: 50px;
    margin-bottom: 10px;
    text-indent: 18%;
}


#Season {
    width: 40%;
    height: 10%;
    font-size: 50px;
    margin-bottom: 10px;
    text-indent: 18%;
}

#Team {
    width: 40%;
    height: 10%;
    font-size: 50px;
    margin-bottom: 10px;
    text-indent: 22%;
}

#dp {
    width: 40%;
    height: 10%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.submit {
    width: 20%;
    height: 10%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background: #DDDDDD;
    text-align: center;
}
.block {
    height: 100px;
    width: 290px;
    font-size: 20px;
    float: left;
    text-align: center;
}

ul.breadcrumb {
    padding-top: 20px;
    padding: 10px 16px;
    list-style: none;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }

  .months {
    font-size: 30px;
    width: 40%;
    display: table;


  }

  .result {
      display: table;
      border: 1px solid black;
      background: #DDDDDD;
      text-align: center;
      width: 800px;
      margin-left: 200px;

    }

td {
        font-size: 20px;
        border: 1px solid black;
    }

th {
        font-size: 20px;
        border: 1px solid black;
    }


 
    